/* .container {
  min-width:100vh;
 min-height: 100vh;
}

.navbar{
  min-width: 100vh;
  height: 10vh;
} */
.body{
  height: 100%;
}

.main {
  height:100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 0.4rem;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #bbb0b0; */
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 300px;
  width: 70%;
  max-width: 90%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.46);
  -webkit-box-shadow: px 1px 1px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.46);
}
.cardheader{
  width: 90%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.cardheaderid{
  font-weight: 800;
}
.cardheaderuser{
  font-weight: 500;
}
.loadmore{
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.loadmorebtn{
  padding: 5px;
  font-weight: 600;
 
}
.loadmorebtn:hover{
  padding: 7px;
  border: 1px solid purple;
  border-radius: 2px;
  background-color: #fafafa;

}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  /* border-color: #0070f3; */
  box-shadow: 4px 6px 5px 0px rgba(73, 41, 105, 0.46);
  -webkit-box-shadow: 4px 6px 5px 6px rgba(73, 41, 105, 0.46);
  -moz-box-shadow: 4px 6px 5px 6px rgba(73, 41, 105, 0.46);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.createpost{
  position: fixed;
  bottom:70px;
  left: 20px;
  border: 1px solid ;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(214, 211, 205);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
