.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height :100vh;
    border:purple 2px solid;
    background-color: rgba(233, 233, 222, 0.952)8, 0.87
}

.theform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 70%;
    border:purple 2px solid;
    border-radius: 7px;
    background-color:rgb(217, 223, 166);
}

.inputgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    min-width: 250px;
}
.inputgroup label{
    background-color:rgb(241, 247, 194);
padding: 5px;
width:100%;
margin: 5px;
}


.theinput{
    padding:10px;
    width: 100%;
    margin: 5px;
    
    }
.theinputerror{
    padding:10px;
    width: 100%;
    margin: 5px;
    border: 2px solid red;
    }
.formbutton{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(207, 165, 116);
    min-width: 30%;
    font-weight: bold;
    font-size:15px;
    border-radius:5px;
}
.inputerror{
    color: red;
    width: 100%;
     font-size: 12px;
    font-weight: 700;
    text-align: center;
}



@media only screen and (max-width: 400px) {
    .theform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        width: 95%;
        border:purple 1px solid;
        border-radius: 7px;
        background-color: rgba(223, 208, 208, 0.986);
    }
    
    .inputgroup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        min-width: 90%;
    }
    .inputgroup label{
    background-color: rgb(255, 247, 238);
    padding: 5px;
    width:100%;
    margin: 5px;
    }
    
    .inputgroup input{
    padding:10px;
    width: 100%;
    margin: 5px;
    }
  }