.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height :100vh;
    border:purple 2px solid;
    background-color: rgba(250, 249, 198, 0.952)8, 0.87
}

.theform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
    border:purple 1px solid;
    border-radius: 7px;
    background-color: rgba(223, 208, 208, 0.986);
}

.inputgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 50%;
}
.inputgroup label{
background-color: rgb(255, 247, 238);
padding: 5px;
width:100%;
margin: 5px;
}

.inputgroup input{
padding:10px;
width: 100%;
margin: 5px;
}

.formbutton{
    padding: 10px;
    background-color: rgb(255, 247, 238);
    width: 30%;
    font-weight: bold;
}
.inputerror{
    color: red;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 5px;
}